<template>
  <div>
    <h1>{{ heading }}</h1>
    <button @click="reveal">Click to reveal the code!</button>
  
    <div v-if="show === true">
      <h2>
        Congratulations
      </h2>
      <p>
        Well done! Please commit your changes to a fork of this repo and send a link to rob.byrne-graham@investoogroup.com.
      </p>
      <p>
        The word below has been base64 encoded but the decoder is not working. 
      </p>
      <p>
        For bonus points fix it and set the background to this colour and include in your commit. 
      </p>
      <p>
        Hint: The word is a colour
      </p>
      <p>
        <code>{{ decoder }}</code>
      </p>
    </div>
  </div>
</template>

<script>
import secret from '../assets/secret.json';

export default {
  props: {
    heading: String
  },
  data(){
    return {
      show: false
    }
  },
  computed:{
    decoder(){
      return btoa(secret.colour);
    }
  },
  methods:{
    reveal(){
      this.show = "true";
    }
  }
}
</script>
